html {
    height: 100%;
    width: 100%;
    background-color: white;
  }
  th, td {
    border: 1px solid white;
    border-radius: 10px;
    background-color: lightgray;
    padding: 10px;
  }
  .navbar{
    background: #C4E9B3;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: tan;
  }

  .login{
    width: 390px;
    height: max-content;
    padding: 27px;
    border-radius: 12px;
    background: white;
  }

  .login h1 {
    font-size: 36px;
    margin-bottom: 25px;
  }

  .login form{
    font-size: 20px;
  }

  .login form .form-group{
    margin-bottom: 18px;
  }

  .login form input[type="submit"]{
    font-size: 20px;
    margin-top: 15px;

  }
