html, body {
    height: 100%;
    width: 100%;
    background-color: #EEFAFF;
  }
  th, td {
    border: 1px solid white;
    border-radius: 10px;
    background-color: lightgray;
    padding: 10px;
  }
  .navbar{
    background: #C4E9B3;
  }
  